#intro {
  display: block;
  background-image: url('../images/smart_buildings_hero-mobile.png');
}

#intro .illustration {
  padding: 0.25rem;
}

#intro .description .detail {
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
}

#intro h1 {
  display: block;
  width: calc(100% - 2rem);
  margin: 0 auto;
  max-width: 35rem;
  font-size: 2.5rem;
}

#intro h2 {
  font-size: 1.5rem;
}

#intro .button {
  margin: 1.5rem auto;
}

#krellian-console,
#krellian-hub,
#webthings {
  display: block;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#krellian-console .illustration img,
#krellian-hub .illustration img,
#webthings .illustration img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#krellian-console .illustration img {
  max-width: 50rem;
}

#krellian-hub .illustration img{
  max-width: 36rem;
}

#webthings .illustration img {
  max-width: 28.4rem;
  height: auto;
}

#krellian-console .description img,
#krellian-hub .description img {
  height: 2.5rem;
}

#webthings .description img {
  height: 3.5rem;
}

#krellian-console .description p,
#krellian-hub .description p,
#webthings .description p {
  max-width: 27rem;
  display: block;
  margin: 1rem auto;
  font-size: 1.3rem;
}
