#hero {
  padding: 2rem;
  box-sizing: border-box;
  height: auto;
  background-size: auto 80%, auto;
}

#hero h1 {
  font-size: 2.8rem;
    text-wrap: wrap;
}

#problem > img {
  width: calc(100% - 4rem);
}

#problems, #products {
  flex-direction: column;
  padding: 0;
  max-width: 50rem;
}

.problem h3 {
  font-size: 1.6rem;
}

.problem p {
  font-size: 1.6rem;
}

#krellian-cloud {
  margin: 7.5rem 2rem 0;
}

#krellian-hub h3 img, #krellian-cloud h3 img {
  height: 2.5rem;
}

#krellian-cloud a > img {
  margin: 0 0 2rem 0;
}

#krellian-hub p, #krellian-cloud p {
  font-size: 1.6rem;
}