#intro {
  height: 35rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: #030505;
  background-image: url('../images/smart_buildings_hero.png');
  background-size: auto 35rem;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

#intro .description .detail {
  width: 100%;
  max-width: 45rem;
  margin: 7.75rem auto;
}

#intro h1 {
  display: block;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  margin: 0;
}

#intro h2 {
  font-size: 2.6rem;
  margin: 0.5rem 0 0 0;
  color: #fff;
  font-weight: normal;
}

#netzero {
  height: 50rem;
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
  color: #fff;
}

#netzero .illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#netzero .illustration img {
  width: calc(100% - 2rem);
  max-height: 54rem;
  margin: 1rem;
}

#netzero .description .detail {
  width: 100%;
  max-width: 45rem;
  margin: 11.9rem auto;
}

#netzero h1 {
  display: block;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.2;
  margin: 0;
}

#netzero h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0.5rem 0 0 0;
  color: #666;
}

#netzero .detail a.learn-more {
  font-size: 1.7rem;
  display: block;
}

#krellian-hub,
#krellian-cloud {
  display: flex;
  height: 35rem;
}

#krellian-cloud {
  flex-direction: row;
}

#krellian-hub {
  flex-direction: row-reverse;
}

#krellian-hub .illustration,
#krellian-cloud .illustration,
#krellian-hub .description,
#krellian-cloud .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

#krellian-hub .description p,
#krellian-cloud .description p {
  max-width: 35rem;
}

#krellian-hub .illustration img {
  display: block;
  width: 36rem;
}

#krellian-cloud .illustration img {
  width: 33rem;
}
