#hero {
  padding: 2rem;
  box-sizing: border-box;
  height: auto;
  background-size: auto 80%, auto;
}

#hero h1 {
  font-size: 2.8rem;
    text-wrap: wrap;
}

#problem > img {
  width: calc(100% - 4rem);
}

#problems {
  flex-direction: column;
  padding: 0;
}

.problem h3 {
  font-size: 1.6rem;
}

.problem p {
  font-size: 1.6rem;
}