#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #030606;
  background-image: url('../images/building_background.svg'), linear-gradient(45deg,rgba(3, 6, 6, 1) 0%, rgba(11, 61, 88, 1) 50%, rgba(3, 6, 6, 1) 100%); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 56rem, auto;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 65rem;
}

#hero h1 {
  max-width: 80rem;
  font-size: 6rem;
  line-height: 1.25;
  text-wrap: balance;
  font-weight: 600;
  margin: 2rem;
}

#hero h1 em {
  font-weight: bold;
  font-style: normal;
  color: #4ac787;
}

#hero h2 {
  max-width: 80rem;
  font-size: 1.8rem;
  text-wrap: balance;
  font-weight: 400;
  margin: 2rem;
}

#hero .cta {
  margin: 2rem;
}

#hero .cta .button {
  width: 14rem;
  margin: 1rem;
}

#problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#4e4e4e, #000000);
  color: #fff;
  padding: 2rem;
}

#problem h2 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin: 2rem;
}

#problem > p {
  font-size: 2rem;
  text-wrap: balance;
  max-width: 62.5rem;
  text-align: center;
  margin-top: 0;
}

#problem > img {
  max-height: 47.5rem;
  max-width: 45.8rem; 
  margin: 4rem;
}

#problems {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  max-width: 128rem;
}

.problem {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 3rem;
}

.problem h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.problem h3 img {
  width: 3.2rem;
  height: 3.2rem;
  vertical-align: middle;
  margin: 0rem 0.75rem 0rem 0;
}

.problem p {
  font-size: 1.8rem;
  margin: 1rem 0 0 0 ;
}