#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #030606;
  background-image: url('../images/building_background.svg'), linear-gradient(45deg,rgba(3, 6, 6, 1) 0%, rgba(11, 61, 88, 1) 50%, rgba(3, 6, 6, 1) 100%); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 56rem, auto;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 65rem;
}

#hero h1 {
  max-width: 80rem;
  font-size: 6rem;
  line-height: 1.25;
  text-wrap: balance;
  font-weight: 600;
  margin: 2rem;
}

#hero h1 em {
  font-weight: bold;
  font-style: normal;
  color: #4ac787;
}

#hero h2 {
  max-width: 80rem;
  font-size: 1.8rem;
  text-wrap: balance;
  font-weight: 400;
  margin: 2rem;
}

#hero .cta {
  margin: 2rem;
}

#hero .cta .button {
  width: 14rem;
  margin: 1rem;
}

#krellian-hub,
#krellian-cloud {
  display: flex;
  height: 35rem;
}

#krellian-cloud {
  flex-direction: row;
}

#krellian-hub {
  flex-direction: row-reverse;
}

#krellian-hub .illustration,
#krellian-cloud .illustration,
#krellian-hub .description,
#krellian-cloud .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

#krellian-hub .description p,
#krellian-cloud .description p {
  max-width: 35rem;
}

#krellian-hub .illustration img {
  display: block;
  width: 36rem;
}

#krellian-cloud .illustration img {
  width: 33rem;
}
