@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/opensans-regular.woff") format("woff");
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/opensans-semibold.woff") format("woff");
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  height: 20rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
}

main #wordmark {
  margin: 1rem;
}

main p {
  max-width: 32rem;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  height: 4rem;
  font-size: 1.7rem;
  background-color: #90bc5c;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  color: #000;
  text-decoration: none;
  margin: 1rem auto;
  border: none;
  font-family: "Open Sans", sans-serif;
  opacity: 0.85;
  transition: opacity ease-in-out 0.3s;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
  opacity: 1;
}

footer {
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  color: #3c3c3c;
}

footer #projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer #projects img {
  opacity: 0.2;
  transition: opacity ease-in-out 0.3s;
  margin: 2.5rem;
}

footer #projects a:last-child {
  margin-right: 3.5rem;
}

footer #projects img:hover {
  opacity: 1;
}

footer #social a {
  height: 10rem;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  margin: 0.5rem;
  opacity: 0.2;
  transition: opacity ease-in-out 0.3s;
}

footer #facebook-icon {
  background-image: url('../images/facebook_icon-white.svg');
}

footer #twitter-icon {
  background-image: url('../images/twitter_icon-white.svg');
}

footer #facebook-icon:hover, footer #facebook-icon:active {
  opacity: 1;
}

footer #twitter-icon:hover, footer #twitter-icon:active {
  opacity: 1;
}
