@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/opensans-regular.woff") format("woff");
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/opensans-semibold.woff") format("woff");
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff;
}

a {
  color: #3771c8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #333;
  width: 100%;
  height: 15rem;
}

#menu-button {
  display: none;
}

header #logo {
  margin: 0 auto;
  padding: 3.75rem 0;
  display: block;
}

#main-navigation {
  height: 5rem;
  background-color: #1a1a1a;
}

#main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-navigation li {
  display: inline-block;
}

#main-navigation a {
  display: inline-block;
  height: 5rem;
  margin: 0 1rem;
  padding: 0 1rem;
  color: #ccc;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 5rem;
}

#main-navigation a:hover {
  color: #fff;
}

#main-navigation a.selected {
  color: #fff;
}

.light-section {
  background-color: #fff;
  padding-left: 8rem;
  padding-right: 8rem;
}

.dark-section {
  background-color: #e6e6e6;
  padding-left: 8rem;
  padding-right: 8rem;
}

.illustration, .description {
  flex: 1;
}

footer {
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  color: #1a1a1a;
}

footer #footer-links {
  margin: 1rem auto 2rem auto;
}

footer #footer-links a {
  color: #1a1a1a;
  text-decoration: none;
}

footer #footer-links a:hover, footer #footer-links a:active {
  text-decoration: underline;
}

footer #footer-links ul {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

footer #footer-links li {
  list-style-type: none;
  display: inline;
  border-right: solid 1px #1a1a1a;
  padding: 0 1rem;
}

footer #footer-links li:last-child {
  border-right: none;
}

footer #social a {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  margin: 0.5rem;
}

footer #facebook-icon {
  background-image: url('../images/facebook_icon-greyscale.svg');
}

footer #github-icon {
  background-image: url('../images/github_icon-greyscale.svg');
}

footer #twitter-icon {
  background-image: url('../images/twitter_icon-greyscale.svg');
}

footer #facebook-icon:hover, #facebook-icon:active {
  background-image: url('../images/facebook_icon-colour.svg');
}

footer #github-icon:hover, #github-icon:active {
  background-image: url('../images/github_icon-colour.svg');
}

footer #twitter-icon:hover, #twitter-icon:active {
  background-image: url('../images/twitter_icon-colour.svg');
}

#copyright {
  display: block;
  margin-top: 1rem;
}
