div#main {
  overflow: hidden;
}

section.project {
  width: 350px;
  border: solid 12px #9c7745;
  margin: 30px;
  padding: 10px;
  float: left;
  color: white;
  background: -moz-linear-gradient(#000000, #4e4e4e);
  background: -webkit-linear-gradient(#000000, #4e4e4e);
  background: linear-gradient(#000000, #4e4e4e);
  min-height: 250px;
}

.project img {
  display: block;
  margin: 0 auto;
}

.project p {
  font: 17px 'BelligerentMadnessRegular', Arial, sans-serif;
  padding: 10px;
  text-align: center;
}

.project a {
  color: #5f8dd3;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}
