#intro {
  height: 35rem;
  display: flex;
}

#intro {
  flex-direction: row-reverse;
}

#intro .description .detail {
  width: 100%;
  max-width: 52rem;
  margin: 10.52rem auto;
}

#intro .illustration .photo {
  display: block;
  height: 18.6rem;
  margin: 6.35rem auto 0 auto;
}

#intro .illustration .wordmark {
  display: block;
  height: 2.7rem;
  margin: 1rem auto 6.35rem auto;
}

#intro h1 {
  display: block;
  width: 100%;
  font-size: 2.9rem;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.2;
  margin: 0;
}

#benefits {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#benefits .one-liner {
    display: block;
    font-size: 2.4rem;
    text-align: center;
    max-width: 84rem;
    margin: 2rem auto;
}

#key-benefits {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

#key-benefits .benefit {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

#key-benefits .benefit h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0.5rem;
}

#key-benefits .benefit p {
  font-size: 1.9rem;
  margin: 0;
  padding: 0;
}

.feature {
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.feature.dark-section {
  flex-direction: row-reverse;
}

.feature .illustration img {
  width: 60rem;
}

.feature .description {
  flex: 1;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feature.dark-section .description {
  padding-left: 0;
  padding-right: 6rem;
}

.feature .description h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 1rem 0;
}

.feature .description p {
  font-size: 1.7rem;
  margin: 0;
}

#hardware, #software, #standards {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#hardware h1, #software h1, #standards h1 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

#hardware-specifications {
  display: flex;
  flex-direction: row-reverse;
}

#hardware-specifications .description {
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hardware-specifications .description h2 {
  font-size: 1.7rem;
  margin: 0;
}

#hardware-specifications .illustration img {
  height: 30rem;
}

#software img {
  display: block;
  margin: 4rem auto;
  height: 4.5rem;
}

#software p, #standards p {
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 0;
  max-width: 45rem;
}

#standards img {
  display: block;
  margin: 0 auto;
  width: 80rem;
}
