#business_card {
  width: 300px;
  height: 180px;
  box-shadow: 0 0 10px #666;
  -moz-box-shadow: 0 0 10px #666;
  -webkit-box-shadow: 0 0 10px #666;
  text-align: center;
  margin: 20px auto;
}

#business_card h2 {
  height: 90px; 
  background: -moz-linear-gradient(#000000, #4e4e4e);
  background: -webkit-linear-gradient(#000000, #4e4e4e);
  background: linear-gradient(#000000, #4e4e4e);
}

#business_card h2 img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

#business_card .name {
  display: block;
  font-size: 22px;
}

#business_card .email a {
  color: #2c5aa0;
  display: block;
  text-decoration: none;
}

#business_card .email a:hover {
  text-decoration: underline;
}

#business_card .telephone {
  color: #4d4d4d;
}

#social_media {
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}
