.dark-section {
  color: #fff;
}

.light-section {
  color: #000;
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0 1rem 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 2rem 0;
}

.dark-section h1, .dark-section h2 {
  color: #fff;
}

.light-section h1, .light-section h2 {
  color: #000;
}

#smart-building-consulting {
  background-image: linear-gradient(#4e4e4e, #000000);
  text-align: center;
}

#smart-building-consulting .quote, #wot-consulting .quote {
  display: block;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
  font-weight: 600;
  max-width: 70rem;
  margin: 1rem auto;
}

#smart-building-consulting ol {
  padding-left: 0;
}

#smart-building-consulting ol li {
  padding-left: 8.4rem;
  background-position: 0 center;
  background-size: 6.4rem;
  background-repeat: no-repeat;
  height: 6.4rem;
  list-style-type: none;
  max-width: 45rem;
  font-size: 1.4rem;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  text-align: left;
}

#smart-building-consulting ol li a {
  display: inline;
}

#smart-building-consulting ol li:nth-child(1) {
  background-image: url('../images/1.svg');
}

#smart-building-consulting ol li:nth-child(2) {
  background-image: url('../images/2.svg');
}

#smart-building-consulting ol li:nth-child(3) {
  background-image: url('../images/3.svg');
}

#process {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#process .illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.examples .example {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.examples .example h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 1.5rem;
}

.examples .example p {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  max-width: 26rem;
}

.button {
  margin: 5rem auto;
}

#smart-building-consulting .button {
  color: #000;
}

#wot-consulting {
  text-align: center;
}

#wot-consulting p {
  font-size: 1.8rem;
  text-align: left;
  max-width: 85rem;
  margin: 2rem auto;
}

#wot-consulting .examples .example p {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  max-width: 28rem;
}

#wot-block-diagram {
  width: 80rem;
  margin: 2rem;
}

#trusted-by {
  text-align: center;
  padding-bottom: 4rem;
}

#trusted-by h1 {
  color: #000;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 3rem 0 0 0;
}

#trusted-by a {
  text-decoration: none;
}

#trusted-by a img {
  width: 16rem;
  margin: 3rem;
  vertical-align: middle;
}