main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
  padding: 4rem;
}

main h1 {
  text-align: center;
}

main h1 img {
  height: 3.5rem;
}

main p {
  font-size: 1.6rem;
  text-align: center;
}

iframe {
  height: 1500px;
}