#intro {
  display: block;
  height: auto;
}

#intro h1 {
  font-size: 2.2rem;
  text-align: center;
}

#intro h2 {
  font-size: 1.9rem;
  text-align: center;
}

#intro .illustration .drawing {
  width: 100%;
  max-width: 33rem;
  height: auto;
  margin: 2rem auto;
}

#intro .illustration .wordmark {
  margin: 2rem auto;
}

#intro .description .detail {
  width: auto;
  max-width: none;
  padding: 0 2rem 2rem 2rem;
  margin: 0;
}

#intro .description .detail .button {
  display: block;
  width: 20rem;
  margin: 2rem auto;
  text-align: center;
}

#benefits {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#left-arrow, #right-arrow {
  display: none;
}

#key-benefits {
  display: block;
}

#standards h1,
#key-benefits .benefit h1 {
  font-size: 2.4rem;
}

#benefits p {
  padding: 2rem;
}

#benefits .benefit {
  max-width: 50rem;
  margin: 0 auto;
}

#key-benefits p {
  padding: 0;
}

#benefits .one-liner {
  margin: 0 auto;
}

#benefits .screenshot {
  width: 100%;
  max-width: 80rem;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}
