#intro {
  height: auto;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}

#intro h1 {
  text-align: center;
}

#intro h2 {
  text-align: center;
}

#intro .illustration .drawing {
  width: 100%;
  max-width: 36rem;
  height: auto;
}

#intro .description .detail {
  padding: 0 2rem 2rem 2rem;
  margin: 0;
  max-width: none;
}

#intro .detail {
  text-align: center;
}

#intro .cta .button:first-child {
  margin-left: 1rem;
}

#benefits {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#key-benefits {
  display: block;
}
#standards h1,
#key-benefits .benefit h1 {
  font-size: 2.4rem;
}

#benefits p {
  padding: 2rem;
}

#key-benefits p {
  padding: 1rem;
}

#benefits .benefit {
  max-width: 50rem;
  margin: 0 auto;
}

#benefits .one-liner {
  margin: 0 auto;
}

.feature {
  display: block;
}

.feature .illustration {
  padding-top: 4rem;
}

.feature .illustration img {
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.feature .description, .feature.dark-section .description {
  width: 100%;
  padding: 0 2rem 4rem 2rem;
  text-align: center;
  box-sizing: border-box;
}

.feature .description h1 {
  font-size: 2.4rem;
}

#sign-up {
  text-align: center;
}

#sign-up img {
  width: 100%;
  height: auto;
  max-width: 80rem;
}
