#intro {
  height: 35rem;
  display: flex;
}

#intro {
  flex-direction: row;
}

#intro .description .detail {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#intro .description .detail .button {
  margin: 1rem 0 0 0;
}

#intro .illustration .drawing {
  display: block;
  height: 18.6rem;
  margin: 6.35rem auto 0 auto;
}

#intro .illustration .wordmark {
  display: block;
  height: 2.7rem;
  margin: 1rem auto 6.35rem auto;
}

#intro h1 {
  display: block;
  width: 100%;
  font-size: 2.9rem;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.2;
  margin: 0;
}

#intro h2 {
  font-size: 2.4rem;
  color: #666;
  margin: 1rem 0 0 0;
  font-weight: 400;
}

#screenshot-carousel {
  margin: 2rem auto;
}

/*#screenshots #arrows {
  position: absolute;
  top: calc(50% - 2rem);
  height: 0;
  width: 100%;
}*/

#carousel-controls {
  display: block;
  text-align: center;
}

#screenshots #left-arrow {
  /*position: absolute;
  left: -4rem;*/
  background-image: url('/images/left_arrow.svg');
  background-color: transparent;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  margin: 1rem;
}

#screenshot-selectors {
  display: inline-block;
}

.screenshot-selector {
  background-image: url('/images/bullet.svg');
  background-color: transparent;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.5rem;
  border: none;
  opacity: 0.5;
}

.screenshot-selector:hover, .screenshot-selector:active {
  opacity: 0.75;
}

.glide__bullet--active, .glide__bullet--active:hover {
  opacity: 1;
}

#screenshots #right-arrow {
  /*position: absolute;
  right: -4rem;*/
  background-image: url('/images/right_arrow.svg');
  background-color: transparent;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  margin: 1rem;
}

.screenshot img {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.screenshot figcaption {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}


#benefits {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#key-benefits {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

#key-benefits .benefit {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

#key-benefits .benefit h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0.5rem;
}

#key-benefits .benefit p {
  font-size: 1.9rem;
  margin: 0;
}

#standards {
  padding: 4rem;
}

#standards h1 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

#standards p {
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 0;
  max-width: 45rem;
}

#standards img {
  display: block;
  margin: 0 auto;
  height: 9rem;
}
