#intro {
  height: 35rem;
  display: flex;
}

#intro {
  flex-direction: row-reverse;
  background: #040707;
  background: linear-gradient(90deg,rgba(4, 7, 7, 1) 0%, rgba(31, 95, 119, 1) 50%, rgba(4, 7, 7, 1) 100%);
}

#intro h1, #intro h2, #intro .cta {
  margin: 1rem 0;
}

#intro h1 .wordmark {
  height: 3rem;
}

#intro h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-wrap: balance;
}

#intro .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro .description .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35rem;
}

#intro .illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro .illustration .drawing {
  width: 33rem;
}

#intro .cta .button:first-child {
  margin-left: 0;
}

#benefits {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#benefits .one-liner {
    display: block;
    font-size: 2.4rem;
    text-align: center;
    max-width: 85rem;
    margin: 2rem auto;
    text-wrap: balance;
}

#key-benefits {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

#key-benefits .benefit {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

#key-benefits .benefit img {
  height: 6.4rem;
}

#key-benefits .benefit h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0.5rem;
}

#key-benefits .benefit p {
  font-size: 1.9rem;
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

.feature {
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.feature.dark-section {
  flex-direction: row-reverse;
}

.feature .illustration img {
  width: 60rem;
}

.feature .description {
  flex: 1;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feature.dark-section .description {
  padding-left: 0;
  padding-right: 6rem;
}

.feature .description h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 1rem 0;
}

.feature .description p {
  font-size: 1.7rem;
  margin: 0;
}

#standards {
  padding: 4rem;
}

#standards h1 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

#standards p {
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 0;
  max-width: 45rem;
}

#standards img {
  display: block;
  margin: 0 auto;
  height: 9rem;
}

#sign-up {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sign-up img {
  width: 80rem;
  margin: 2rem;
}

#sign-up > a {
  font-size: 1.8rem;
}
