#krellian-cloud,
#krellian-consulting {
  height: 35rem;
  display: flex;
}

#krellian-cloud {
  flex-direction: row;
}

#krellian-consulting {
  flex-direction: row-reverse;
}

#krellian-cloud .illustration,
#krellian-consulting .illustration,
#krellian-cloud .description,
#krellian-consulting .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

#krellian-cloud .description,
#krellian-consulting .description {
  padding: 0 2rem;
  box-sizing: border-box;
}

#krellian-consulting .description p,
#krellian-cloud .description p {
  max-width: 35rem;
}

#krellian-consulting .detail,
#krellian-cloud .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#krellian-consulting .illustration img {
  display: block;
  width: 36rem;
}

#krellian-cloud .illustration img {
  width: 33rem;
}

.button {
  margin: 0 auto;
}

