.service {
  padding: 2rem;
  flex-direction: column;
}

.service .illustration img {
  width: 100%;
}

.service h2 img {
  width: 100%;
  max-height: 3.5rem;
}

#krellian-cloud h2 img {
  width: 100%;
  max-height: 3.5rem;
}

#krellian-consulting h2 img {
  width: 100%;
  max-height: 4.4rem;
}

#krellian-cloud {
  flex-direction: column;
}

#krellian-cloud .illustration img {
  width: 100%;
  height: auto;
  max-width: 33rem;
}

#krellian-consulting .illustration img {
  width: 100%;
  height: auto;
  max-width: 36rem;
}