#products {
  grid-template-columns: 1fr;
}

.product {
  padding: 2rem;
}

.product img {
  width: 100%;
  max-width: 25rem;
}

.featured.product {
  grid-column: span 1;
  flex-direction: column;
}

#krellian-hub .illustration img {
  width: 100%;
  max-width: 30rem;
}