#krellian-hub {
  height: 35rem;
  display: flex;
  flex-direction: reverse;
}

#krellian-hub .illustration img {
  display: block;
  width: 100%;
  max-width: 36rem;
  margin: 8.2rem auto;
}

#krellian-hub .description .detail {
  width: 100%;
  max-width: 35rem;
  margin: 9.5rem auto;
  text-align: center;
  font-size: 1.7rem;
}

#krellian-cloud {
  height: 35rem;
  display: flex;
}

#krellian-cloud {
  flex-direction: row-reverse;
}

#krellian-cloud .illustration,
#krellian-cloud .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

#krellian-cloud .description {
  padding: 0 2rem;
  box-sizing: border-box;
}

#krellian-cloud .description p {
  max-width: 35rem;
}

#krellian-cloud .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#krellian-cloud .illustration img {
  width: 33rem;
}

.button {
  margin: 0 auto;
}
