#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 4rem;
  margin: 0;
  background-color: #ececec;
}

.product {
  background-color: #fff;
  border: solid 1px #e2e2e2;
  border-radius: 0.5rem;
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > img {
  width: 100%;
  max-width: 25rem; 
}

.product h2 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 0;
}

.product p {
  font-size: 1.7rem;
  text-wrap: balance;
  flex-grow: 1;
}

.product .button {
  width: 15rem;
}

.featured.product {
  grid-column: span 3;
  display: flex;
  flex-direction: row;
}

.featured.product .illustration {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured.product .detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  height: 100%
}

.featured.product .detail h2 {
  margin-bottom: 0;
}

.featured.product .detail p {
  text-wrap: balance;
}

#krellian-hub .illustration img {
  width: 30rem;
}
