#about {
  padding: 2rem;
}

#intro {
  height: 35rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: #030505;
  background-image: url('../../images/smart_buildings_hero.png');
  background-size: auto 35rem;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

#intro .description .detail {
  width: 100%;
  max-width: 36.5rem;
  margin: 11.55rem auto;
}

#intro h1 {
  display: block;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  margin: 0;
}

#intro h2 {
  font-size: 2.6rem;
  margin: 0.5rem 0 0 0;
  color: #fff;
  font-weight: normal;
}

#about h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

#about h3 {
  padding: 0 1rem;
  margin: 0;
}

.bubble {
  display: block;
  margin: 0 auto;
  flex: 1;
  color: #000;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  font-size: 1.7rem;
  max-width: 60rem;
  text-align: center;
}

.bubble::after {
  position: relative;
  left: -29px;
  top: -15px;
  display: block;
  transform: rotate(45deg);
  background-color: white;
  content: "";
  width: 18px;
  height: 18px;
}

.box {
  border-radius: 0.5rem;
  background-color: white;
  max-width: 85rem;
  font-size: 1.7rem;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

#principles.box {
  padding: 4rem;
}

#history.box {
  display: flex;
  flex-direction: row;
}

#principles .logos {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

#principles .logos img {
  margin: 1rem 2rem;
}


.box figure {
  width: 20rem;
  margin: 2rem;
}

.box img {
  width: 20rem;
}

.box figcaption {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}

.box p {
  flex: 1;
  padding: 1rem;
}

#principles.box p {
  margin: 0;
  padding: 0 1rem 2rem 1rem;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 12rem;
  text-decoration: none;
  margin: 4rem auto;
}
